@import "tailwindcss";

@theme {
  --color-natural-bg: #F9F7F2;
  --color-natural-surface: #F2F1EC;
  --color-natural-card: #FFFFFF;
  --color-natural-sand: #E6E2D3;
  --color-natural-sand-light: #F0EDE4;
  --color-natural-olive: #5A5A40;
  --color-natural-olive-dark: #444430;
  --color-natural-olive-light: #707052;
  --color-natural-olive-surface: #F3F3ED;
  --color-natural-terracotta: #F27D26;
  --color-natural-terracotta-dark: #D96918;
  --color-natural-terracotta-light: #FFF2E9;
  --color-natural-text: #434338;
  --color-natural-muted: #8E8E7E;
  --color-natural-muted-dark: #666657;
}

body {
  background-color: #F9F7F2;
  color: #434338;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
